body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #2f2f2f;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input::placeholder {
  color: #fff;
}

.input:focus {
  outline: 2px solid #ccc;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #e58c39;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #d7792e;
}

.link {
  margin-top: 10px;;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
