/* client/src/app/styles/page.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #2f2f2f;
}

.logo {
  width: 30vh;
  height: 30vh;
  margin-bottom: 10px;
}

.title {
  font-size: 8vh;
  margin-bottom: 40px;
  color: #ffffff;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button {
  width: 50%;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 5vh;
}

.button:hover {
  color: #eee;
}

.orContainer {
  display: flex;
  align-items: center;
}

.orText {
  color: #e58c39;
  font-size: 4vh;
}

.line {
  flex: 100;
  width: 12.5vh;
  height: 0.5vh;
  border-radius: 15%;
  background-color: #fff;
  margin: 0 10px;
}
